body {
  /*
   * Часть до фигурных скобок — селектор.
   * Селекторы указывают, к каким элементам применять
   * стили внутри фигурных скобок.
   * В данном случае — к содержимому страницы.
   */ 

  background-color: dimgray;
  /* Задаем странице серый фон */
  font-family: Century Gothic, regular;
  font-size: 24px;
  line-height: 27px;
}

h1, h2 {
  color: white;
  /* Перекрашиваем заголовки в белый */
}

p {
  color: white;
  /* Перекрашиваем абзацы в белый */
}

.outstanding {
  font-size: 150%;
  /* Увеличиваем кегль в полтора раза */

  font-style: italic;
  /* Курсивим текст */

  /*
   * .outstanding — селектор по классу.
   * Его стили применятся к элементам
   * с атрибутом class, содержащим outstanding.
   * В данном случае — к абзацу
   * про великого комбинатора.
   */
}
