body {
 
  background-color: #EBF4E9;
  /* Задаем странице серый фон */
  font-family:Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  margin-left: 100px;
  max-width: 900px;
}

h1 {font-size:36px !important; line-height:30px !important;
color: black;margin-bottom: 28px;margin-top: 50px;}

h2 {
  color: black;
  font-family: Helvetica, regular;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  
  /* Перекрашиваем заголовки в белый */
}

p {
  color: black;
  margin-top: -22px;
  /* Перекрашиваем абзацы в белый */
}

.work {
  color: #2D5126;
  margin-top: -10px;
  font-size: 18px;
  font-style: regular;
  font-family: Helvetica, regular;
  margin-left:0px;
  /* Перекрашиваем абзацы в белый */
}



.outstanding {
  font-size:100%;
  /* Увеличиваем кегль в полтора раза */

  font-style: regular;
  color: #2D5126;
  font-family: Helvetica, regular;
  /* Курсивим текст */

  /*
   * .outstanding — селектор по классу.
   * Его стили применятся к элементам
   * с атрибутом class, содержащим outstanding.
   * В данном случае — к абзацу
   * про великого комбинатора.
   */
}

ul {
  color: black;
  font-family: Helvetica, regular;
  margin-top: -16px;
  /* Перекрашиваем заголовки в белый */
}

img {
  /*
  * Прижимаем картинку
  * к левому краю.
  */
  float: left;
  display: flex;
  /*
  * Фиксируем высоту картинки.
  */
  height: 300px;
  width: auto;
  padding-top: 24px;
  margin: -18px .7em 0 0;
}

.small {
  color: #6194C8;
  font-style: italic;
  margin-top: -24px;
  margin-bottom: 18px;
  width: auto;
  font-size: 14px;
  /* Перекрашиваем абзацы в белый */
}

div {
 
 display: flex;
 flex-direction: column; 
 
  }

@media screen and (max-width: 600px) {
    img {
 float: left;
      padding-bottom: 6px;
     height: 200px;
}
  
  div {
 float: left;
}
   
  body {
 
  background-color: #CDE8F5;
  /* Задаем странице серый фон */
  font-family:Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  margin-left: 20px;
  max-width: 900px;
}
  
}
